<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @plan_medium.description %>
</p>

<%= link_to 'Edit', edit_plan_medium_path(@plan_medium) %> |
<%= link_to 'Back', plan_media_path %>
